In [1]:
import pandas as pd
import numpy as np

In [2]:
df_solar = pd.read_csv('Solar Supply Data Final')
df_wind = pd.read_csv('Wind Supply Data Final')

In [3]:
df_solar.head()

,Unnamed: 0,sc_gid,capacity_factor,global_horizontal_irradiance,capacity_mw,area_sq_km,latitude,longitude,distance_to_transmission_km,location
0,0,26860,0.172197,4.141096,4135.862531,129.245704,39.730,-85.046,50.222763,"(39.73, -85.046)"
1,1,28458,0.170573,4.170156,4070.183934,127.193248,39.234,-84.987,30.842051,"(39.234, -84.987)"
2,2,26542,0.172359,4.128505,4050.598894,126.581215,39.827,-85.030,51.048865,"(39.827, -85.03)"
3,3,26857,0.173939,4.163230,4074.255956,127.320499,39.763,-85.472,35.110438,"(39.763, -85.472)"
4,4,29381,0.173025,4.195511,3883.285294,121.352665,38.997,-85.737,32.051595,"(38.997, -85.737)"

In [4]:
df_wind.head()

,Unnamed: 0,Unnamed: 0.1,latitude,longitude,area_sq_km,capacity_mw,generation_mwh,capacity_factor,wind_speed_120meters,distance_to_transmission_km,location
0,0,28009,39.730000,-85.045998,39.9816,119.9448,419299.2930,0.399060,7.202714,0.161601,"(39.72999954, -85.04599762)"
1,1,29631,39.234001,-84.987000,22.8096,68.4288,230999.8771,0.385362,7.077345,0.188344,"(39.23400116, -84.98699951)"
2,2,27683,39.827000,-85.029999,28.0584,84.1752,304942.1999,0.413551,7.371140,1.899660,"(39.82699966, -85.02999878)"
3,3,28006,39.763000,-85.472000,30.7962,92.3886,345858.0000,0.427342,7.575626,1.932339,"(39.76300049, -85.47200012)"
4,4,30584,38.997002,-85.737000,36.7740,110.3220,351607.9256,0.363825,6.744751,9.230199,"(38.99700165, -85.73699951)"

In [8]:
df_solar.describe()

,Unnamed: 0,sc_gid,capacity_factor,global_horizontal_irradiance,capacity_mw,area_sq_km,latitude,longitude,distance_to_transmission_km
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,258.500000,26841.853282,0.172971,4.162500,3583.833328,111.994791,39.792431,-86.289622,37.652046
std,149.677988,3824.171013,0.003005,0.097072,774.294982,24.196718,1.160622,0.879490,20.720994
min,0.000000,19909.000000,0.166866,3.980046,10.165824,0.317682,37.757000,-88.140000,0.280754
25%,129.250000,23573.250000,0.170779,4.084722,3506.869055,109.589658,38.821250,-87.033250,22.865495
50%,258.500000,27165.500000,0.173171,4.170928,3857.878505,120.558703,39.755000,-86.316500,40.186230
75%,387.750000,29986.250000,0.174467,4.232709,4050.333872,126.572933,40.773750,-85.553750,52.777364
max,517.000000,33502.000000,0.181619,4.386151,4194.268088,131.070878,41.843000,-84.756000,83.002265

In [9]:
df_wind.describe()

,Unnamed: 0,Unnamed: 0.1,latitude,longitude,area_sq_km,capacity_mw,generation_mwh,capacity_factor,wind_speed_120meters,distance_to_transmission_km
count,518.000000,518.00000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,258.500000,28078.30888,39.778201,-86.294620,30.587887,91.763661,324618.212145,0.405427,7.272778,4.885430
std,149.677988,3903.90651,1.158087,0.876048,14.289717,42.869152,153619.785928,0.030469,0.354828,4.146315
min,0.000000,20979.00000,37.757000,-88.139999,0.040500,0.121500,464.265100,0.304378,6.098505,0.004714
25%,129.250000,25024.25000,38.805251,-87.026251,21.525750,64.577250,227204.220125,0.386633,7.054806,1.867706
50%,258.500000,28318.50000,39.743000,-86.325500,32.229900,96.689700,340820.707350,0.411970,7.325832,3.884111
75%,387.750000,31233.00000,40.744501,-85.566252,40.135500,120.406500,422230.505900,0.430667,7.566512,6.803539
max,517.000000,34924.00000,41.842999,-84.755997,70.956000,212.868000,789205.834800,0.449981,7.914181,28.769524

In [13]:
## Solar Generation if its to be considerd with the suggested capacity factor/ reliability constraint

df_solar['generation_mwh'] = list(map(lambda x,y:(365*24*x*y),df_solar['capacity_mw'],df_solar['capacity_factor']))

In [14]:
df_solar.head()

,Unnamed: 0,sc_gid,capacity_factor,global_horizontal_irradiance,capacity_mw,area_sq_km,latitude,longitude,distance_to_transmission_km,location,generation_mwh
0,0,26860,0.172197,4.141096,4135.862531,129.245704,39.730,-85.046,50.222763,"(39.73, -85.046)",6.238720e+06
1,1,28458,0.170573,4.170156,4070.183934,127.193248,39.234,-84.987,30.842051,"(39.234, -84.987)",6.081749e+06
2,2,26542,0.172359,4.128505,4050.598894,126.581215,39.827,-85.030,51.048865,"(39.827, -85.03)",6.115862e+06
3,3,26857,0.173939,4.163230,4074.255956,127.320499,39.763,-85.472,35.110438,"(39.763, -85.472)",6.207953e+06
4,4,29381,0.173025,4.195511,3883.285294,121.352665,38.997,-85.737,32.051595,"(38.997, -85.737)",5.885908e+06