In [1]:
import pandas as pd
import numpy as np

In [2]:
df_solar = pd.read_csv('Solar Supply Data Final')
df_wind = pd.read_csv('Wind Supply Data Final')

In [3]:
## Solar Generation, Realizable Capacity

df_solar['generation_mwh'] = list(map(lambda x,y:(365*24*x*y),df_solar['capacity_mw'],df_solar['capacity_factor']))
df_solar['realizable_mw'] = list(map(lambda x,y:x*y,df_solar['capacity_mw'],df_solar['capacity_factor']))
df_solar['realizable per land'] = list(map(lambda x,y:x/y,df_solar['realizable_mw'],df_solar['area_sq_km']))
df_solar.sort_values(by=['realizable per land'], inplace=True, ascending=False) # select energy dense locations
df_solar_50 = df_solar.head(50)
df_solar_20 = df_solar.head(20)

In [4]:
df_solar_50.head()

,Unnamed: 0,sc_gid,capacity_factor,global_horizontal_irradiance,capacity_mw,area_sq_km,latitude,longitude,distance_to_transmission_km,location,generation_mwh,realizable_mw,realizable per land
515,515,33501,0.181619,4.386151,3126.423825,97.700745,37.766,-87.875,39.332285,"(37.766, -87.875)",4.974085e+06,567.817978,5.811808
58,58,32911,0.181312,4.369156,3455.752866,107.992277,37.969,-87.990,52.600512,"(37.969, -87.99)",5.488742e+06,626.568776,5.801978
339,339,32912,0.181168,4.371561,3584.443134,112.013848,37.961,-87.851,46.171280,"(37.961, -87.851)",5.688610e+06,649.384702,5.797361
266,266,33500,0.181101,4.373187,2660.003803,83.125119,37.774,-88.013,46.693156,"(37.774, -88.013)",4.219955e+06,481.729969,5.795239
509,509,32914,0.181068,4.364312,1766.383200,55.199475,37.944,-87.574,8.401838,"(37.944, -87.574)",2.801753e+06,319.834768,5.794163

In [5]:
df_solar_50.describe()

,Unnamed: 0,sc_gid,capacity_factor,global_horizontal_irradiance,capacity_mw,area_sq_km,latitude,longitude,distance_to_transmission_km,generation_mwh,realizable_mw,realizable per land
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,5.000000e+01,50.000000,50.000000
mean,314.520000,31817.040000,0.178970,4.318262,3417.990947,106.812217,38.316480,-87.62754,43.344894,5.355427e+06,611.350148,5.727045
std,158.294899,1324.703817,0.001355,0.038008,561.784679,17.555771,0.438122,0.24153,24.898667,8.650525e+05,98.750285,0.043357
min,58.000000,28750.000000,0.177140,4.248521,1766.383200,55.199475,37.757000,-88.14000,0.748551,2.801753e+06,319.834768,5.668475
25%,171.250000,30953.500000,0.177621,4.284734,3220.999362,100.656230,37.948250,-87.81200,19.377721,5.074006e+06,579.224467,5.683860
50%,338.000000,32062.000000,0.178877,4.321025,3583.690214,111.990319,38.236500,-87.62050,50.077265,5.606756e+06,640.040624,5.724049
75%,447.750000,32913.500000,0.180172,4.351707,3795.172798,118.599150,38.612750,-87.45225,62.306861,5.920671e+06,675.875724,5.765500
max,515.000000,33502.000000,0.181619,4.386151,4126.414641,128.950457,39.317000,-87.14600,81.853871,6.415277e+06,732.337551,5.811808

In [6]:
## Wind Realizable Capacity

df_wind['realizable_mw'] = list(map(lambda x,y:x*y,df_wind['capacity_mw'],df_wind['capacity_factor']))
df_wind['realizable per land'] = list(map(lambda x,y:x/y,df_wind['realizable_mw'],df_wind['area_sq_km']))
df_wind.sort_values(by=['realizable per land'], inplace=True, ascending=False) # select energy dense locations
df_wind_50 = df_wind.head(50)
df_wind_20 = df_wind.head(20)

In [7]:
df_wind_50.head()

,Unnamed: 0,Unnamed: 0.1,latitude,longitude,area_sq_km,capacity_mw,generation_mwh,capacity_factor,wind_speed_120meters,distance_to_transmission_km,location,realizable_mw,realizable per land
313,313,27672,39.943001,-86.594002,41.6016,124.8048,491959.4602,0.449981,7.881968,3.519691,"(39.94300079, -86.59400177)",56.159756,1.349942
160,160,26702,40.106998,-84.836998,43.6428,130.9284,515945.0045,0.449848,7.914181,10.583572,"(40.10699844, -84.83699799)",58.897832,1.349543
157,157,27025,40.009998,-84.853996,45.5220,136.5660,535974.5111,0.448020,7.862290,1.495866,"(40.00999832, -84.85399628)",61.184305,1.344060
77,77,27341,40.040001,-86.580002,44.0316,132.0948,517968.2753,0.447624,7.847435,1.985263,"(40.04000092, -86.58000183)",59.128799,1.342872
107,107,26369,40.320999,-86.393997,27.3456,82.0368,321628.4552,0.447550,7.819635,1.103422,"(40.32099915, -86.39399719)",36.715577,1.342650

In [8]:
df_wind_50.describe()

,Unnamed: 0,Unnamed: 0.1,latitude,longitude,area_sq_km,capacity_mw,generation_mwh,capacity_factor,wind_speed_120meters,distance_to_transmission_km,realizable_mw,realizable per land
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,188.660000,25606.960000,40.503340,-85.918020,28.802668,86.408006,335692.289179,0.443042,7.757271,5.275434,38.321038,1.329127
std,137.517733,2216.978059,0.640261,0.821594,15.730998,47.192993,183512.212105,0.002935,0.065536,4.629643,20.948883,0.008805
min,8.000000,20985.000000,39.748001,-87.411003,0.680400,2.041200,7877.179984,0.438937,7.638810,0.119803,0.899221,1.316811
25%,81.250000,23597.750000,40.034751,-86.615751,14.792625,44.377875,171408.335500,0.440757,7.713300,1.281451,19.567162,1.322271
50%,159.500000,26379.500000,40.235500,-86.077000,32.221800,96.665400,377086.812350,0.442566,7.757221,4.083699,43.046440,1.327697
75%,301.250000,27023.750000,41.099751,-85.170502,41.496300,124.488900,484097.763150,0.445055,7.806845,8.335199,55.262302,1.335164
max,502.000000,28322.000000,41.777000,-84.786003,60.166800,180.500400,700343.404200,0.449981,7.914181,15.147024,79.947877,1.349942

In [101]:
#df_solar_50.to_csv('Solar Supply Data - Top 50')
#df_wind_50.to_csv('Wind Supply Data - Top 50')